Problem Statement:
    Imagine that you are a medical researcher compiling data for a study. You have collected data about a set of patients, all of whom suffered from the same illness. During their course of treatment, each patient responded to one of 5 medications, Drug A, Drug B, Drug c, Drug x and y.

Part of your job is to build a model to find out which drug might be appropriate for a future patient with the same illness. The features of this dataset are Age, Sex, Blood Pressure, and the Cholesterol of the patients, and the target is the drug that each patient responded to.

It is a sample of multiclass classifier, and you can use the training part of the dataset to build a decision tree, and then use it to predict the class of a unknown patient, or to prescribe a drug to a new patient.

Approach:

A decision tree can be built with target variable drug & all other variable will be independent in the analysis.

In [5]:
#Loading dataset using csv module
import csv

data = []
with open('drug200.csv', 'r') as f:
    csvreader = csv.reader(f)
    headers = next(csvreader) # Get the headers
    for row in csvreader:
        data.append(row)

In [6]:
# Check for null values
for row in data:
    for value in row:
        if value is None or value.strip() == "":
            print("Null value found!")

        #else:
           # print('No null values found')

In [7]:
# Check for duplicate values
unique_values = set()
for row in data:
    row_tuple = tuple(row)
    if row_tuple in unique_values:
        print("Duplicate found!")
    else:
        unique_values.add(row_tuple)

In [8]:
data

[['23', 'F', 'HIGH', 'HIGH', '25.355', 'drugY'],
 ['47', 'M', 'LOW', 'HIGH', '13.093', 'drugC'],
 ['47', 'M', 'LOW', 'HIGH', '10.114', 'drugC'],
 ['28', 'F', 'NORMAL', 'HIGH', '7.798', 'drugX'],
 ['61', 'F', 'LOW', 'HIGH', '18.043', 'drugY'],
 ['22', 'F', 'NORMAL', 'HIGH', '8.607', 'drugX'],
 ['49', 'F', 'NORMAL', 'HIGH', '16.275', 'drugY'],
 ['41', 'M', 'LOW', 'HIGH', '11.037', 'drugC'],
 ['60', 'M', 'NORMAL', 'HIGH', '15.171', 'drugY'],
 ['43', 'M', 'LOW', 'NORMAL', '19.368', 'drugY'],
 ['47', 'F', 'LOW', 'HIGH', '11.767', 'drugC'],
 ['34', 'F', 'HIGH', 'NORMAL', '19.199', 'drugY'],
 ['43', 'M', 'LOW', 'HIGH', '15.376', 'drugY'],
 ['74', 'F', 'LOW', 'HIGH', '20.942', 'drugY'],
 ['50', 'F', 'NORMAL', 'HIGH', '12.703', 'drugX'],
 ['16', 'F', 'HIGH', 'NORMAL', '15.516', 'drugY'],
 ['69', 'M', 'LOW', 'NORMAL', '11.455', 'drugX'],
 ['43', 'M', 'HIGH', 'HIGH', '13.972', 'drugA'],
 ['23', 'M', 'LOW', 'HIGH', '7.298', 'drugC'],
 ['32', 'F', 'HIGH', 'NORMAL', '25.974', 'drugY'],
 ['57', 'M', 'LOW', 'NORMAL', '19.128', 'drugY'],
 ['63', 'M', 'NORMAL', 'HIGH', '25.917', 'drugY'],
 ['47', 'M', 'LOW', 'NORMAL', '30.568', 'drugY'],
 ['48', 'F', 'LOW', 'HIGH', '15.036', 'drugY'],
 ['33', 'F', 'LOW', 'HIGH', '33.486', 'drugY'],
 ['28', 'F', 'HIGH', 'NORMAL', '18.809', 'drugY'],
 ['31', 'M', 'HIGH', 'HIGH', '30.366', 'drugY'],
 ['49', 'F', 'NORMAL', 'NORMAL', '9.381', 'drugX'],
 ['39', 'F', 'LOW', 'NORMAL', '22.697', 'drugY'],
 ['45', 'M', 'LOW', 'HIGH', '17.951', 'drugY'],
 ['18', 'F', 'NORMAL', 'NORMAL', '8.75', 'drugX'],
 ['74', 'M', 'HIGH', 'HIGH', '9.567', 'drugB'],
 ['49', 'M', 'LOW', 'NORMAL', '11.014', 'drugX'],
 ['65', 'F', 'HIGH', 'NORMAL', '31.876', 'drugY'],
 ['53', 'M', 'NORMAL', 'HIGH', '14.133', 'drugX'],
 ['46', 'M', 'NORMAL', 'NORMAL', '7.285', 'drugX'],
 ['32', 'M', 'HIGH', 'NORMAL', '9.445', 'drugA'],
 ['39', 'M', 'LOW', 'NORMAL', '13.938', 'drugX'],
 ['39', 'F', 'NORMAL', 'NORMAL', '9.709', 'drugX'],
 ['15', 'M', 'NORMAL', 'HIGH', '9.084', 'drugX'],
 ['73', 'F', 'NORMAL', 'HIGH', '19.221', 'drugY'],
 ['58', 'F', 'HIGH', 'NORMAL', '14.239', 'drugB'],
 ['50', 'M', 'NORMAL', 'NORMAL', '15.79', 'drugY'],
 ['23', 'M', 'NORMAL', 'HIGH', '12.26', 'drugX'],
 ['50', 'F', 'NORMAL', 'NORMAL', '12.295', 'drugX'],
 ['66', 'F', 'NORMAL', 'NORMAL', '8.107', 'drugX'],
 ['37', 'F', 'HIGH', 'HIGH', '13.091', 'drugA'],
 ['68', 'M', 'LOW', 'HIGH', '10.291', 'drugC'],
 ['23', 'M', 'NORMAL', 'HIGH', '31.686', 'drugY'],
 ['28', 'F', 'LOW', 'HIGH', '19.796', 'drugY'],
 ['58', 'F', 'HIGH', 'HIGH', '19.416', 'drugY'],
 ['67', 'M', 'NORMAL', 'NORMAL', '10.898', 'drugX'],
 ['62', 'M', 'LOW', 'NORMAL', '27.183', 'drugY'],
 ['24', 'F', 'HIGH', 'NORMAL', '18.457', 'drugY'],
 ['68', 'F', 'HIGH', 'NORMAL', '10.189', 'drugB'],
 ['26', 'F', 'LOW', 'HIGH', '14.16', 'drugC'],
 ['65', 'M', 'HIGH', 'NORMAL', '11.34', 'drugB'],
 ['40', 'M', 'HIGH', 'HIGH', '27.826', 'drugY'],
 ['60', 'M', 'NORMAL', 'NORMAL', '10.091', 'drugX'],
 ['34', 'M', 'HIGH', 'HIGH', '18.703', 'drugY'],
 ['38', 'F', 'LOW', 'NORMAL', '29.875', 'drugY'],
 ['24', 'M', 'HIGH', 'NORMAL', '9.475', 'drugA'],
 ['67', 'M', 'LOW', 'NORMAL', '20.693', 'drugY'],
 ['45', 'M', 'LOW', 'NORMAL', '8.37', 'drugX'],
 ['60', 'F', 'HIGH', 'HIGH', '13.303', 'drugB'],
 ['68', 'F', 'NORMAL', 'NORMAL', '27.05', 'drugY'],
 ['29', 'M', 'HIGH', 'HIGH', '12.856', 'drugA'],
 ['17', 'M', 'NORMAL', 'NORMAL', '10.832', 'drugX'],
 ['54', 'M', 'NORMAL', 'HIGH', '24.658', 'drugY'],
 ['18', 'F', 'HIGH', 'NORMAL', '24.276', 'drugY'],
 ['70', 'M', 'HIGH', 'HIGH', '13.967', 'drugB'],
 ['28', 'F', 'NORMAL', 'HIGH', '19.675', 'drugY'],
 ['24', 'F', 'NORMAL', 'HIGH', '10.605', 'drugX'],
 ['41', 'F', 'NORMAL', 'NORMAL', '22.905', 'drugY'],
 ['31', 'M', 'HIGH', 'NORMAL', '17.069', 'drugY'],
 ['26', 'M', 'LOW', 'NORMAL', '20.909', 'drugY'],
 ['36', 'F', 'HIGH', 'HIGH', '11.198', 'drugA'],
 ['26', 'F', 'HIGH', 'NORMAL', '19.161', 'drugY'],
 ['19', 'F', 'HIGH', 'HIGH', '13.313', 'drugA'],
 ['32', 'F', 'LOW', 'NORMAL', '10.84', 'drugX'],
 ['60', 'M', 'HIGH', 'HIGH', '13.934', 'drugB'],
 ['64', 'M', 'NORMAL', 'HIGH', '7.761', 'drugX'],
 ['32', 'F', 'LOW', 'HIGH', '9.712', 'drugC'],
 ['38', 'F', 'HIGH', 'NORMAL', '11.326', 'drugA'],
 ['47', 'F', 'LOW', 'HIGH', '10.067', 'drugC'],
 ['59', 'M', 'HIGH', 'HIGH', '13.935', 'drugB'],
 ['51', 'F', 'NORMAL', 'HIGH', '13.597', 'drugX'],
 ['69', 'M', 'LOW', 'HIGH', '15.478', 'drugY'],
 ['37', 'F', 'HIGH', 'NORMAL', '23.091', 'drugY'],
 ['50', 'F', 'NORMAL', 'NORMAL', '17.211', 'drugY'],
 ['62', 'M', 'NORMAL', 'HIGH', '16.594', 'drugY'],
 ['41', 'M', 'HIGH', 'NORMAL', '15.156', 'drugY'],
 ['29', 'F', 'HIGH', 'HIGH', '29.45', 'drugY'],
 ['42', 'F', 'LOW', 'NORMAL', '29.271', 'drugY'],
 ['56', 'M', 'LOW', 'HIGH', '15.015', 'drugY'],
 ['36', 'M', 'LOW', 'NORMAL', '11.424', 'drugX'],
 ['58', 'F', 'LOW', 'HIGH', '38.247', 'drugY'],
 ['56', 'F', 'HIGH', 'HIGH', '25.395', 'drugY'],
 ['20', 'M', 'HIGH', 'NORMAL', '35.639', 'drugY'],
 ['15', 'F', 'HIGH', 'NORMAL', '16.725', 'drugY'],
 ['31', 'M', 'HIGH', 'NORMAL', '11.871', 'drugA'],
 ['45', 'F', 'HIGH', 'HIGH', '12.854', 'drugA'],
 ['28', 'F', 'LOW', 'HIGH', '13.127', 'drugC'],
 ['56', 'M', 'NORMAL', 'HIGH', '8.966', 'drugX'],
 ['22', 'M', 'HIGH', 'NORMAL', '28.294', 'drugY'],
 ['37', 'M', 'LOW', 'NORMAL', '8.968', 'drugX'],
 ['22', 'M', 'NORMAL', 'HIGH', '11.953', 'drugX'],
 ['42', 'M', 'LOW', 'HIGH', '20.013', 'drugY'],
 ['72', 'M', 'HIGH', 'NORMAL', '9.677', 'drugB'],
 ['23', 'M', 'NORMAL', 'HIGH', '16.85', 'drugY'],
 ['50', 'M', 'HIGH', 'HIGH', '7.49', 'drugA'],
 ['47', 'F', 'NORMAL', 'NORMAL', '6.683', 'drugX'],
 ['35', 'M', 'LOW', 'NORMAL', '9.17', 'drugX'],
 ['65', 'F', 'LOW', 'NORMAL', '13.769', 'drugX'],
 ['20', 'F', 'NORMAL', 'NORMAL', '9.281', 'drugX'],
 ['51', 'M', 'HIGH', 'HIGH', '18.295', 'drugY'],
 ['67', 'M', 'NORMAL', 'NORMAL', '9.514', 'drugX'],
 ['40', 'F', 'NORMAL', 'HIGH', '10.103', 'drugX'],
 ['32', 'F', 'HIGH', 'NORMAL', '10.292', 'drugA'],
 ['61', 'F', 'HIGH', 'HIGH', '25.475', 'drugY'],
 ['28', 'M', 'NORMAL', 'HIGH', '27.064', 'drugY'],
 ['15', 'M', 'HIGH', 'NORMAL', '17.206', 'drugY'],
 ['34', 'M', 'NORMAL', 'HIGH', '22.456', 'drugY'],
 ['36', 'F', 'NORMAL', 'HIGH', '16.753', 'drugY'],
 ['53', 'F', 'HIGH', 'NORMAL', '12.495', 'drugB'],
 ['19', 'F', 'HIGH', 'NORMAL', '25.969', 'drugY'],
 ['66', 'M', 'HIGH', 'HIGH', '16.347', 'drugY'],
 ['35', 'M', 'NORMAL', 'NORMAL', '7.845', 'drugX'],
 ['47', 'M', 'LOW', 'NORMAL', '33.542', 'drugY'],
 ['32', 'F', 'NORMAL', 'HIGH', '7.477', 'drugX'],
 ['70', 'F', 'NORMAL', 'HIGH', '20.489', 'drugY'],
 ['52', 'M', 'LOW', 'NORMAL', '32.922', 'drugY'],
 ['49', 'M', 'LOW', 'NORMAL', '13.598', 'drugX'],
 ['24', 'M', 'NORMAL', 'HIGH', '25.786', 'drugY'],
 ['42', 'F', 'HIGH', 'HIGH', '21.036', 'drugY'],
 ['74', 'M', 'LOW', 'NORMAL', '11.939', 'drugX'],
 ['55', 'F', 'HIGH', 'HIGH', '10.977', 'drugB'],
 ['35', 'F', 'HIGH', 'HIGH', '12.894', 'drugA'],
 ['51', 'M', 'HIGH', 'NORMAL', '11.343', 'drugB'],
 ['69', 'F', 'NORMAL', 'HIGH', '10.065', 'drugX'],
 ['49', 'M', 'HIGH', 'NORMAL', '6.269', 'drugA'],
 ['64', 'F', 'LOW', 'NORMAL', '25.741', 'drugY'],
 ['60', 'M', 'HIGH', 'NORMAL', '8.621', 'drugB'],
 ['74', 'M', 'HIGH', 'NORMAL', '15.436', 'drugY'],
 ['39', 'M', 'HIGH', 'HIGH', '9.664', 'drugA'],
 ['61', 'M', 'NORMAL', 'HIGH', '9.443', 'drugX'],
 ['37', 'F', 'LOW', 'NORMAL', '12.006', 'drugX'],
 ['26', 'F', 'HIGH', 'NORMAL', '12.307', 'drugA'],
 ['61', 'F', 'LOW', 'NORMAL', '7.34', 'drugX'],
 ['22', 'M', 'LOW', 'HIGH', '8.151', 'drugC'],
 ['49', 'M', 'HIGH', 'NORMAL', '8.7', 'drugA'],
 ['68', 'M', 'HIGH', 'HIGH', '11.009', 'drugB'],
 ['55', 'M', 'NORMAL', 'NORMAL', '7.261', 'drugX'],
 ['72', 'F', 'LOW', 'NORMAL', '14.642', 'drugX'],
 ['37', 'M', 'LOW', 'NORMAL', '16.724', 'drugY'],
 ['49', 'M', 'LOW', 'HIGH', '10.537', 'drugC'],
 ['31', 'M', 'HIGH', 'NORMAL', '11.227', 'drugA'],
 ['53', 'M', 'LOW', 'HIGH', '22.963', 'drugY'],
 ['59', 'F', 'LOW', 'HIGH', '10.444', 'drugC'],
 ['34', 'F', 'LOW', 'NORMAL', '12.923', 'drugX'],
 ['30', 'F', 'NORMAL', 'HIGH', '10.443', 'drugX'],
 ['57', 'F', 'HIGH', 'NORMAL', '9.945', 'drugB'],
 ['43', 'M', 'NORMAL', 'NORMAL', '12.859', 'drugX'],
 ['21', 'F', 'HIGH', 'NORMAL', '28.632', 'drugY'],
 ['16', 'M', 'HIGH', 'NORMAL', '19.007', 'drugY'],
 ['38', 'M', 'LOW', 'HIGH', '18.295', 'drugY'],
 ['58', 'F', 'LOW', 'HIGH', '26.645', 'drugY'],
 ['57', 'F', 'NORMAL', 'HIGH', '14.216', 'drugX'],
 ['51', 'F', 'LOW', 'NORMAL', '23.003', 'drugY'],
 ['20', 'F', 'HIGH', 'HIGH', '11.262', 'drugA'],
 ['28', 'F', 'NORMAL', 'HIGH', '12.879', 'drugX'],
 ['45', 'M', 'LOW', 'NORMAL', '10.017', 'drugX'],
 ['39', 'F', 'NORMAL', 'NORMAL', '17.225', 'drugY'],
 ['41', 'F', 'LOW', 'NORMAL', '18.739', 'drugY'],
 ['42', 'M', 'HIGH', 'NORMAL', '12.766', 'drugA'],
 ['73', 'F', 'HIGH', 'HIGH', '18.348', 'drugY'],
 ['48', 'M', 'HIGH', 'NORMAL', '10.446', 'drugA'],
 ['25', 'M', 'NORMAL', 'HIGH', '19.011', 'drugY'],
 ['39', 'M', 'NORMAL', 'HIGH', '15.969', 'drugY'],
 ['67', 'F', 'NORMAL', 'HIGH', '15.891', 'drugY'],
 ['22', 'F', 'HIGH', 'NORMAL', '22.818', 'drugY'],
 ['59', 'F', 'NORMAL', 'HIGH', '13.884', 'drugX'],
 ['20', 'F', 'LOW', 'NORMAL', '11.686', 'drugX'],
 ['36', 'F', 'HIGH', 'NORMAL', '15.49', 'drugY'],
 ['18', 'F', 'HIGH', 'HIGH', '37.188', 'drugY'],
 ['57', 'F', 'NORMAL', 'NORMAL', '25.893', 'drugY'],
 ['70', 'M', 'HIGH', 'HIGH', '9.849', 'drugB'],
 ['47', 'M', 'HIGH', 'HIGH', '10.403', 'drugA'],
 ['65', 'M', 'HIGH', 'NORMAL', '34.997', 'drugY'],
 ['64', 'M', 'HIGH', 'NORMAL', '20.932', 'drugY'],
 ['58', 'M', 'HIGH', 'HIGH', '18.991', 'drugY'],
 ['23', 'M', 'HIGH', 'HIGH', '8.011', 'drugA'],
 ['72', 'M', 'LOW', 'HIGH', '16.31', 'drugY'],
 ['72', 'M', 'LOW', 'HIGH', '6.769', 'drugC'],
 ['46', 'F', 'HIGH', 'HIGH', '34.686', 'drugY'],
 ['56', 'F', 'LOW', 'HIGH', '11.567', 'drugC'],
 ['16', 'M', 'LOW', 'HIGH', '12.006', 'drugC'],
 ['52', 'M', 'NORMAL', 'HIGH', '9.894', 'drugX'],
 ['23', 'M', 'NORMAL', 'NORMAL', '14.02', 'drugX'],
 ['40', 'F', 'LOW', 'NORMAL', '11.349', 'drugX']]

In [9]:
import random
class DataFrame:
    def __init__(self, data):
        self.data = data
        self.headers = list(data.keys())
        self.n_rows = len(list(data.values())[0])
        self.n_cols = len(data)
        self.types = self._infer_types()
        
    """Head method prints top 5 rows by default"""
    def head(self, n=5):
        for header in self.headers:
            print(header, end='\t')
        print()
        for i in range(n):
            for j, header in enumerate(self.headers):
                print(self.data[header][i], end='\t')
            print()
            
    """The _infer_types() method infers the data type of each column based on the types of the values in the column.
        It creates a dictionary mapping column names to data types. If all values in a column have the same type,
        that type is used as the column's data type. Otherwise, the column is treated as an object column."""
    def _infer_types(self):
        types = {}
        for header in self.headers:
            column = self.data[header]
            type_set = set(type(x).__name__ for x in column)
            if len(type_set) == 1:
                types[header] = type_set.pop()
            else:
                types[header] = 'object'
        return types
    
    """The _convert_column() method converts the data type of a column to a new type,
        using the built-in int(), float(), or str() functions."""
    def _convert_column(self, header, new_type):
        column = self.data[header]
        if new_type == 'int':
            self.data[header] = [int(x) for x in column]
        elif new_type == 'float':
            self.data[header] = [float(x) for x in column]
        elif new_type == 'str':
            self.data[header] = [str(x) for x in column]
        else:
            raise ValueError('Invalid data type')
    
    """The convert_type() method allows the user to convert the data type of a specific column to a new type.
        It first checks that the column name and new data type are valid,
        then checks whether the current data type of the column matches the new data type.
        If it does, no conversion is needed. Otherwise, it calls the _convert_column() method to perform the conversion 
        and updates the column's data type in the types dictionary."""
    def convert_type(self, header, new_type):
        if header not in self.headers:
            raise ValueError('Invalid header')
        if new_type not in ('int', 'float', 'str'):
            raise ValueError('Invalid data type')
        current_type = self.types[header]
        if new_type == current_type:
            return
        self._convert_column(header, new_type)
        self.types[header] = new_type
        
    def unique_values(self):
        unique_values_dict = {}
        for header in self.headers:
            unique_values_dict[header] = list(set(self.data[header]))
        return unique_values_dict
    
    def cat_to_num(self,column):
        unique_categories=list(set(self.data[column]))#get unique categorical values in column
        mapping= {category: i for i, category in enumerate(unique_categories)}  #create dict to map each unique categorical to a numerical value
        #Replace each categorical value with its corresponding numerical value
        for i in range(self.n_rows):
            self.data[column][i]=mapping[self.data[column][i]]
            
    def split_train_test(self, split_ratio):
        if not 0 <= split_ratio <= 1:
            raise ValueError('Invalid split ratio')
        n_rows = self.n_rows
        n_train = int(split_ratio * n_rows)
        train_indices = set(random.sample(range(n_rows), n_train))
        test_indices = set(range(n_rows)) - train_indices
        train_data = {header: [self.data[header][i] for i in train_indices] for header in self.headers}
        test_data = {header: [self.data[header][i] for i in test_indices] for header in self.headers}
        train_df = DataFrame(train_data)
        test_df = DataFrame(test_data)
        return train_df, test_df

In [10]:
# Convert to dictionary
data_dict = {}
for i, header in enumerate(headers):
    data_dict[header] = [row[i] for row in data]

In [11]:
#convert to dataframe
df = DataFrame(data_dict)

In [12]:
df

In [13]:
#Shows top 5 rows
df.head()

Age	Sex	BP	Cholesterol	Na_to_K	Drug
23	F	HIGH	HIGH	25.355	drugY
47	M	LOW	HIGH	13.093	drugC
47	M	LOW	HIGH	10.114	drugC
28	F	NORMAL	HIGH	7.798	drugX
61	F	LOW	HIGH	18.043	drugY

In [14]:
#shape of dataframe
df.n_rows,df.n_cols

(200, 6)

In [15]:
# Print data types
print(df.types)

{'Age': 'str', 'Sex': 'str', 'BP': 'str', 'Cholesterol': 'str', 'Na_to_K': 'str', 'Drug': 'str'}

In [16]:
# Convert Age and Na_to_K column to float
df.convert_type('Age', 'int')
df.convert_type('Na_to_K','float')

In [17]:
# Print data types
print(df.types)

{'Age': 'int', 'Sex': 'str', 'BP': 'str', 'Cholesterol': 'str', 'Na_to_K': 'float', 'Drug': 'str'}

In [18]:
unique_values_dict = df.unique_values()
print(unique_values_dict)

{'Age': [15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 72, 73, 74], 'Sex': ['M', 'F'], 'BP': ['NORMAL', 'LOW', 'HIGH'], 'Cholesterol': ['NORMAL', 'HIGH'], 'Na_to_K': [6.683, 7.798, 8.607, 7.298, 10.114, 11.037, 11.767, 13.972, 13.093, 12.703, 15.171, 16.275, 15.376, 18.043, 19.368, 19.199, 20.942, 15.516, 19.128, 25.355, 25.974, 25.917, 22.697, 27.183, 30.568, 30.366, 31.876, 33.486, 31.686, 27.826, 29.875, 29.45, 29.271, 38.247, 35.639, 8.75, 8.107, 37.188, 9.381, 9.567, 9.445, 9.677, 9.945, 10.189, 10.832, 10.067, 11.198, 11.326, 11.424, 11.939, 11.009, 12.854, 12.006, 11.262, 11.686, 11.567, 13.884, 15.79, 15.015, 15.436, 16.594, 16.725, 16.85, 16.753, 16.347, 17.951, 17.211, 17.225, 18.457, 18.295, 18.348, 18.991, 19.796, 19.161, 7.845, 20.909, 21.036, 22.905, 22.963, 23.091, 23.003, 24.658, 25.475, 25.969, 25.786, 25.741, 25.893, 27.064, 6.269, 6.769, 32.922, 33.542, 8.37, 34.997, 34.686, 9.281, 9.443, 9.894, 10.065, 10.537, 10.443, 10.446, 10.403, 11.455, 12.26, 12.495, 12.894, 12.879, 12.766, 13.967, 13.934, 13.769, 13.598, 15.156, 15.891, 7.285, 7.477, 7.34, 8.968, 8.151, 8.7, 8.011, 9.709, 9.084, 9.712, 9.514, 9.849, 10.291, 10.898, 10.605, 10.84, 10.977, 11.014, 11.34, 11.953, 11.343, 11.227, 11.349, 13.303, 14.133, 14.239, 14.16, 14.642, 14.02, 16.724, 16.31, 17.069, 17.206, 18.809, 18.703, 18.739, 19.221, 19.416, 19.675, 19.007, 7.761, 20.693, 20.013, 20.489, 7.261, 19.011, 20.932, 22.456, 22.818, 24.276, 25.395, 26.645, 27.05, 10.017, 28.294, 28.632, 7.49, 8.966, 8.621, 9.475, 9.17, 9.664, 10.091, 10.103, 10.292, 10.444, 11.871, 12.295, 12.856, 12.307, 12.923, 12.859, 13.938, 13.091, 13.313, 13.935, 13.597, 13.127, 14.216, 15.036, 15.478, 15.969, 15.49], 'Drug': ['drugC', 'drugY', 'drugA', 'drugB', 'drugX']}

In [19]:
#converting all categorical columns to numerical
df.cat_to_num('Drug')
df.cat_to_num('Sex')
df.cat_to_num('BP')
df.cat_to_num('Cholesterol')

In [20]:
df.head()

Age	Sex	BP	Cholesterol	Na_to_K	Drug
23	1	2	1	25.355	1
47	0	1	1	13.093	0
47	0	1	1	10.114	0
28	1	0	1	7.798	4
61	1	1	1	18.043	1

In [21]:
# Partition the dataset into training and testing datasets

train_df, test_df = df.split_train_test(0.7)

In [22]:
#shape of train data
train_df.n_rows,train_df.n_cols

(140, 6)

In [23]:
#shape of test data
test_df.n_rows,test_df.n_cols

(60, 6)

In [24]:
target_col= 'Drug'
# Get all column names except for the target column
feature_cols = [col for col in train_df.headers if col != target_col]

# Create X and Y dataframes by selecting the appropriate columns
X_train = DataFrame({col: train_df.data[col] for col in feature_cols})
y_train = DataFrame({target_col: train_df.data[target_col]})
X_test = DataFrame({col: test_df.data[col] for col in feature_cols})
y_test = DataFrame({target_col: test_df.data[target_col]})

In [25]:
X_train.head()

Age	Sex	BP	Cholesterol	Na_to_K
23	1	2	1	25.355
47	0	1	1	13.093
47	0	1	1	10.114
28	1	0	1	7.798
22	1	0	1	8.607

In [26]:
y_train.head()

Drug
1
0
0
4
4